<h1>Cookies_show</h1>
<p>Mostrando la cookies cargadas</p>
<table>
<tr>
    <td><strong>User Alias:</strong> </td>
    <td><%= @user_alias %></td>
</tr>
<tr>
    <td><strong>Client Id:</strong> </td>
    <td><%= @client_id %></td>
</tr>
</table> 